#page {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    margin-bottom: 32px;
}

#fields form .field-input {
    margin: 24px 0;
}

.field-input > input {
    text-align: center;
    border: #555252 1px solid;
}

input[type='checkbox'] {
    cursor: pointer;
}

#buttons {
    width: 100%;
}

button {
    width: 128px;
    height: 36px;
    margin: 16px  16px;

    background-color: #e3e3e3;
    color: #333333;
    border-radius: 16px;
    
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;

    transition: 0.2s;
    border: none;
}

button:active {
    background-color: #e0e0e0;
}

button:hover {
    transform: scale(1.06, 1.06);
}

#results-table {
    margin: 32px 0;
    max-width: 1100px;
}

table {
    min-width: 1100px;
}

thead {
    border-top: 2px solid #303030;
}

th {
    font-weight: 500;
}

th, td {
    min-width: 90px;
    min-height: 30px;

    text-align: center;
}

@media (max-width: 700px) {
    /*
        Quebrar linhas
    */

}