#page {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

header img {
    margin: 0 auto;
}

#fields {}

#fields form {}

#fields form .field-input {
    margin: 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.field-input label {
    width: 156px;
    margin-right: 32px;
}

.field-input > input {
    height: 32px;
    width: 60%;
    padding: 5px;

    text-align: center;
    border: #101010 2px solid;
}

.field-input > input:focus {
    border: #33c3f3 3px solid;
}

input[type='checkbox'] {
    background: blue;
}

.field-input + #buttons {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.field-input + #buttons label {
    width: 32px;
    margin-right: 0px;
}

#optionsServices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
/*
#optionsServices .halfOptions {}

#optionsServices .halfOptions .field-checkbox {
}

#optionsServices .halfOptions .field-checkbox input{}

#optionsServices .halfOptions .field-checkbox label{}
*/
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    width: 128px;
    height: 36px;
    margin: 16px  16px;

    background-color: #e3e3e3;
    color: #333333;
    border-radius: 10px;
    opacity: 90%;
    
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;

    transition: 0.2s;
    border: none;
}

button[type='reset']:hover {
    background-color: #f86e5c;
    color: #ffffff;
    opacity: 80%;
    transform: scale(1.05, 1.05);
}

button[type='submit']:hover {
    background-color: #a6e6b6;
    opacity: 80%;
    transform: scale(1.05, 1.05);
}

button:active {
    background-color: #e0e0e0;
}

#results-table {}

table {
    border: black 1px solid;
}
